$cl_header1: #4CB0AE;
$color1: lighten($cl_header1,20%);
$color2: darken($cl_header1,20%);
$color3: beige;
$color4: crimson;
$color5: greenforest;

.fa-pencil-square-o{
    color: $color3; 
    background-color: $color1;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 50px;
}
.fa-pencil-square-o:hover{
    background-color: $color2;
}
.fa-trash-o{
    @extend .fa-pencil-square-o;
}
.fa-trash-o:hover{
    background-color: $color2;
}
.fa-plus-circle{
    @extend .fa-pencil-square-o;
    background-color: green;
}
.fa-minus-circle{
    @extend .fa-pencil-square-o;
    background-color: $color4;
}
.fa-minus-circle:hover{
     background-color: $color2;
}
